# 文件
.env
*.test
*.out
*.prof
*.exe
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
*.db

# 日志文件和数据库
tmp
storage/logs/
.tmp/

# IDE 和编辑器
.idea/
/go_build_*
out/
.vscode/
.vscode/settings.json
*.sublime*
__debug_bin
.project

node_modules/
